html {
    display: block;
    background-color: #ed820e;
}

head {
    display: none;
}

body {
    font-family: 'Tangerine', serif;
}

#container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#title {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
}

#intro {
    background-color: #eee;
}


#intro_left {
    display: inline-block;
    vertical-align: middle;
    width: 400px;
}

#intro_right {
    display: inline-block;
    vertical-align: middle;
    width: 160px;
    padding:30px;
}

#intro_right h1 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 12px;
}

#intro_right p {
    font-size: 25px;
    line-height: 1.2;
}

#footer {
    margin-top: 20px;
    font-size: 22px;
    text-align: center;
    color: black;
}